* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

.top{
    background-image: url(./top.jpeg);
    background-size: cover;
    background-position: center;
}

.main .overlays{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.505);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5px;
}

.nav{
    border-bottom: 1px solid white;
}

.line{
    height: 2px;
    border-radius: 50px;
    width: 200px;
    background-color: #fff;
}

.binner{
    border-bottom: 1px solid white;
}

.top-bottom{
    background-image: linear-gradient(to top, black 40%, transparent);
}

.jungle{
    background-image: url(https://wallpaper.forfun.com/fetch/dd/dd9115c69a390f306e9eb7c8a5bdcaa9.jpeg);
    background-position: center;
    background-size: cover;
    border: 2px solid skyblue;
    filter: brightness(45%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
}

.hills{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/28/14/00/chromehill-4724725_1280.jpg);
    background-position: center;
    background-size: cover;
    border: 2px solid skyblue;
    filter: brightness(45%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
}

.mountains{
    background-image: url(https://images.theconversation.com/files/379029/original/file-20210115-17-uinw6i.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=1000&fit=clip);
    background-position: center;
    background-size: cover;
    border: 2px solid skyblue;
    filter: brightness(45%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
}

.waterfall{
    background-image: url(https://images.pexels.com/photos/1875480/pexels-photo-1875480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    border: 2px solid skyblue;
    filter: brightness(45%);
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
}

.light:hover{
    filter: brightness(100%);
    scale: 1.1;
}

.end{
    background-image: url(./forestbg.jpg);
    background-size: cover;
    background-position: center;
}

.overlays2{
    background-color: rgba(0, 0, 0, 0.668);
}

.smooth{
    background-image: linear-gradient(to bottom, black 60%, transparent);
}

.smooth2{
    background-image: linear-gradient(to bottom, transparent 50%, black);
}